# Python
venv

# Molecule
base/molecule/default/tests/__pycache__/
debug/molecule/default/tests/__pycache__/
setup/molecule/default/tests/__pycache__/

# Vagrant
.vagrant/
*.box

# Editors
*~
.vscode

# Misc
divona_*
divona-*
